@use "../abstracts";
html.dark {
  // category
  --bg-category: #171c28;
  --text-color-heading-cate: #fff;
  --text-color-desc-cate: #fff;
  --bg-item-cate: #171c28;
  --heading-cate-top: #1a162e;
}
