@use "../abstracts";
html.dark {
  --text-color: var(--header-bg-color);
  --icon-filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(1604%) hue-rotate(63deg) brightness(124%) contrast(100%);

  --body-bg: #292e39;
  --header-bg-color: #171c28;
  --top-action-group-bg: #292e39;
  --top-action-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-group-separate: #ededf6;
}
